<main>

    <div>
        <h2>Nova Publicação<h2>
            <form action="/publication/create" enctype="multipart/form-data" method='POST'>
                <input type='file' name='image'>

                <button>Publicar</button>
            </form>
    </div>
</main>